.wrapper {
  padding: 2% 5%;
  height: 100%;
  background: linear-gradient(rgb(240, 240, 240), rgb(188, 188, 188));
}

.darkwrapper{
  color: lightgrey;
  position: relative;
  height: auto;
  background: rgb(69, 69, 69);
}

a{
  color:grey
}

.top{
  background: black
}