.wrapper {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  background: linear-gradient(rgb(240, 240, 240), rgb(188, 188, 188));

  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

.darkwrapper{
  transition: background linear .5s;
  background: rgb(69, 69, 69);
  color: lightgrey;
}

a{
  color:grey
}