* {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html,
body,
#root {
  /* transition: background linear .5s; */
  padding: 0;
  margin: 0;
}

.title {
  color: grey;
}

input:focus {
  outline: 0;
}
