* {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
}

.title {
  color: grey;
}

input:focus {
  outline: 0;
}

#top {
  display: grid;
  grid-template-columns: 70% auto;
}

#links {
  min-height: 300px;
}

#controls * {
  margin: 0 1rem;
}

#projects-view {
  display: grid;
  grid-template-columns: auto;
  margin-left: -2.5rem;
}
